{% extends 'base.html.twig' %}

{% block title %}Toutes vos Tasks
{% endblock %}

{% block body %}

	<div class="container">
		<h1>Toutes vos Tasks</h1>

		<div>
			<a href="{{ path("tasks/add") }}">
				<button type="button" class="btn btn-primary mb-3">Ajouter une Task</button>
			</a>
		</div>
		<div class="d-flex flex-wrap gap-3">
			{% for task in tasks %}
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">{{ task.title }}</h5>
						<p class="card-text">{{ task.description }}</p>
						<a href="{{ path('tasks/edit/' ~ task.id) }}" class="card-link">
							Modifier
						</a>
						<a href="{{ path('tasks/delete/' ~ task.id) }}" class="card-link">
							Supprimer
						</a>
						<div>
							{% if task.status == 0 %}
								<span class="badge text-bg-secondary">A Faire</span>
							{% elseif task.status == 1 %}
								<span class="badge text-bg-primary">En cours</span>
							{% else %}
								<span class="badge text-bg-success">Finis</span>
							{% endif %}

						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

</div></div>{% endblock %}
